body {
	font-family: "Montserrat";
	font-size: 1.25rem;
	color: white;
}
ul,
ol {
	list-style-type: none;
}

/* Animated elements */

.navbar-brand:hover,
.nav-link:hover,
.carousel:hover,
.skillIcon:hover,
.contactIcon:hover {
	animation: boxShadowLight 0.3s ease forwards;
}
.styleTech:hover,
.carouselProjectImage:hover {
	animation: boxShadowDark 0.3s ease forwards;
}

/* Header */

header {
	position: flex;
	height: 110vh;
	background: url(images/coffeBG-unsplash.jpg) center / cover;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.navbar {
	padding: 2.5rem;
}
.navbar-brand {
	padding: 0.5rem;
}
.navbar-brand:hover,
.nav-link:hover {
	color: #74b0ff;
	border-radius: 0.5rem;
}
h1 {
	text-shadow: 1rem 0.5rem 1.5rem #4193f7;
	font-size: 4rem;
	padding: 2rem;
	text-align: center;
}
.headerSub {
	background-color: #ffffffa9;
	height: 60%;
	margin-top: auto;
}
.aboutRow {
	height: 100%;
	display: flex;
	align-items: center;
	padding: 6%;
	gap: 5%;
}
.devFunctionCol {
	border: 6px solid white;
}
.devFunction {
	color: #5197ff;
	text-align: left;
	font-size: 5rem;
	font-weight: bold;
}
.aboutText {
	text-align: justify;
	color: #070f3b;
}
.PY-intro {
	color: #3c00ff;
}
.java-intro {
	color: #ff0015;
}
.JS-intro {
	color: #ffd000;
}

/* Main */

main {
	background: radial-gradient(circle, #1b2355, #242424);
}
.sectionMain {
	padding: 2% 6%;
}
.titleSection {
	display: inline;
	text-align: left;
	font-size: 3rem;
	margin: 4% 2%;
	padding: 1%;
	color: white;
}

/* Projects */

#projects {
	padding: 4% 6% 0 6%;
}

.carousel {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #53677a;
	border-radius: 1rem;
	height: 100%;
	margin: 4% 0;
}
.carouselProjects {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	height: 60vh;
	width: 100%;
	padding: 0 7.5%;
	margin: auto;
}
.carouselImageCol,
.carouselDescriptionCol {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90%;
	width: 100%;
	margin: 0 2%;
}
.carouselDescriptionCol {
	flex-direction: column;
}
.carouselProjectImage {
	width: 90%;
	height: 90%;
	border-radius: 1rem;
	box-shadow: 3px 3px 3px #3b3b3b;
}
.carouselProjectImage:hover {
	opacity: 0.5;
}
.projectImage1 {
	background: url(images/Tindog.png) center / cover;
}
.projectImage2 {
	background: url(images/To\ do\ list.png) center / cover;
}
.projectImage3 {
	background: url(images/Coin\ Viewer.png) center / cover;
}
.projectImage4 {
	background: url(images/Backend\ Project.png) center / cover;
}
.titleProjectDescription,
.textDescription {
	text-align: justify;
	margin: 2% 0;
	padding: 2%;
}
.projectName {
	color: blue;
}
.projectName:hover {
	color: #070f3b;
}
.styleTool {
	padding: 0 0.5rem;
	background-color: #5a899e;
}
.styleTech {
	padding: 0 0.5rem;
	border-radius: 5px;
	color: white;
}
.styleHTML {
	background-color: #ff6600;
}
.styleCSS {
	background-color: #3ca0e7;
}
.styleCPP {
	background-color: #7700ff;
}
.styleJava {
	background-color: #ff0015;
}
.styleJS {
	background-color: #ffd000;
}
.stylePY {
	background-color: #3c00ff;
}
.styleReact{
	background-color: #00ddff;
}
.carousel-control-prev,
.carousel-control-next {
	width: 7.5%;
}

/* Skills */

.skillTypes {
	margin: 3% 0;
	text-align: center;
}
.softSkills,
.hardSkills {
	display: flex;
	flex-direction: column;
}
.skillTitle {
	display: inline-block;
	font-size: 1.75rem;
	padding: 2%;
	border-bottom: 2px #435ef8 solid;
}
.skillsListIcons {
	height: 90%;
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: space-around;
}
.skillBlock h4 {
	margin-bottom: 0;
}
.skillIcon {
	text-align: left;
	padding: 4%;
	margin: 2% 0;
	border-radius: 0.5rem;
}
.iconSoft {
	background-color: #435ef8;
}
.iconHard {
	padding: 5%;
	margin-right: 10%;
}
.skillLine {
	display: inline;
	text-align: left;
	padding-left: 25%;
}

/* Education Background */

.EBOptions {
	margin: 2% 0;
	padding: 2%;
}
.EBOptions,
.EBCols {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}
.EBOptions h3 {
	padding: 0.5rem;
	font-size: 2rem;
}
.EBCertifies h3 {
	border-bottom: 4px #00c3ff solid;
}
.EBAcademic h3 {
	border-bottom: 4px #6200ff solid;
}
.EBCertifies h3:hover,
.EBAcademic h3:hover {
	cursor: pointer;
}
.EBCols {
	margin: 3% 0 2% 0;
}
.EBActive {
	animation: EBOptionActive 0.5s ease forwards;
}
.EBOff {
	animation: EBOptionOff 0.5s ease forwards;
}
.EBOff h3:hover {
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	background-color: #273f80;
}
.EBColActive {
	animation: EBColActive 0.5s ease forwards;
}
.EBColOff {
	animation: EBColOff 0.5s ease forwards;
}
.EBCertifiesList li {
	display: block;
	white-space: nowrap;
	margin: 1.5% 0;
}
.EBCertifiesList li:hover {
	border-radius: 0.5rem;
	background-color: #415a66;
}

/* Footer */

.sectionFooter {
	padding: 0 6% 2% 6%;
	display: flex;
	align-items: center;
}
footer .titleSection {
	margin-right: 50%;
}
.contactIcons {
	display: inline;
	width: 20%;
}
.contactIcon {
	color: #517bd6;
	display: inline;
	margin-left: 12%;
	font-size: 2rem;
	padding: 3%;
	border-radius: 0.5rem;
}
.contactIcon:hover {
	color: #0084ff;
}

/* Animations */

@keyframes boxShadowLight {
	from {
		box-shadow: none;
	}
	to {
		box-shadow: 5px 5px 10px #b6b6b6;
	}
}
@keyframes boxShadowDark {
	from {
		box-shadow: none;
	}
	to {
		box-shadow: 5px 5px 10px #3b3b3b;
	}
}
@keyframes EBOptionActive {
	from {
		opacity: 0.5;
		flex: 30;
		font-size: 2rem;
	}
	to {
		opacity: 1;
		flex: 60;
		font-size: 2.5rem;
	}
}
@keyframes EBOptionOff {
	from {
		opacity: 1;
		flex: 60;
		font-size: 2.5rem;
	}
	to {
		opacity: 0.5;
		flex: 30;
		font-size: 1.5rem;
	}
}
@keyframes EBColActive {
	from {
		opacity: 0.5;
		flex: 30;
		font-size: 1rem;
	}
	to {
		opacity: 1;
		flex: 60;
		font-size: 1.5rem;
	}
}
@keyframes EBColOff {
	from {
		opacity: 1;
		flex: 60;
		font-size: 1.5rem;
	}
	to {
		opacity: 0.5;
		flex: 30;
		font-size: 1rem;
	}
}
@keyframes showActive {
	0% {
		display: none;
		opacity: 0;
	}
	50% {
		display: none;
		opacity: 0;
	}
	100% {
		display: flex;
		opacity: 1;
	}
}
@keyframes showOff {
	from {
		display: flex;
		opacity: 1;
	}
	to {
		display: none;
		opacity: 0;
	}
}

/* Responsive */

/* @media (max-width: 374px) {
	.headerSub {
		Código para Zfold
	}
} */

@media (max-width: 992px) {
	.navbar-brand {
		font-size: 1.25rem;
	}
	.navbar-toggler {
		padding: 1%;
	}
	.navbar {
		font-size: 1rem;
		padding: 5%;
	}
	.navbar-collapse {
		text-align: left;
	}
	.navbar-nav {
		display: inline-block;
	}
	.navbar-nav .nav-item {
		display: inline-block;
		padding: 2% 0;
		margin-left: 0.5rem;
	}
	h1 {
		padding: 8%;
		font-size: 1.75rem;
	}
	.headerSub {
		background-color: #ffffffa9;
		height: 60%;
		margin-top: 10%;
	}
	.devFunctionCol {
		margin: 6% 2%;
	}
	.devFunction {
		font-size: 2.75rem;
		margin: 0;
	}
	.aboutText,
	.textDescription {
		font-size: 1rem;
	}
	.sectionMain {
		padding: 4%;
	}
	.titleSection {
		display: flex;
		font-size: 1.75rem;
	}
	.carousel {
		border-radius: 0.5rem;
		margin-top: 5%;
		padding: 2% 0;
	}
	.carouselProjects {
		height: 70vh;
		margin: 0;
		flex-direction: column;
		padding: 2% 7.5%;
	}
	.carouselImageCol,
	.carouselDescriptionCol {
		margin: 2% 0;
	}
	.titleProjectDescription,
	.textDescription {
		text-align: justify;
		margin: 1% 0;
		padding: 2%;
	}
	#skills .row {
		display: flex;
		flex-direction: column;
	}
	.softSkills,
	.hardSkills {
		margin: 4% 0;
	}
	.skillBlock h4 {
		margin-bottom: 5%;
	}
	.EBOptions h3 {
		font-size: 1.2rem;
	}
	.EBCertifiesList {
		padding: 0;
	}
	.EBCols {
		height: 50vh;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-basis: 100%;
	}
	.EBColActive {
		max-height: 100%;
		animation: showActive 0.9s forwards;
	}
	.EBColOff {
		animation: showOff 0.4s forwards;
	}
	.sectionFooter {
		padding: 0 6% 2% 6%;
		display: flex;
		align-items: center;
	}
	.contactIcons {
		display: inline;
		width: 80%;
	}
	.contactIcon {
		color: #517bd6;
		display: inline-block;
		margin-left: 8%;
		font-size: 1.25rem;
		padding: 3%;
		border-radius: 0.5rem;
	}
	.contactIcon:hover {
		color: #0084ff;
	}
	footer .titleSection {
		margin-right: 10%;
	}
}

@media (min-width: 1500px) {
	body {
		font-size: 1.5rem;
	}
	h1 {
		font-size: 5rem;
	}
	.devFunctionCol {
		border: 12px solid white;
	}
	.devFunction {
		font-size: 6rem;
		font-weight: bold;
	}
	.titleSection {
		font-size: 4rem;
	}
	.skillTitle{
		font-size: 2.25rem;
	}
	
}
